@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --rosaOscuro: #d63384;
    --rosaClaro: #FF9DBE;
    --gris: #333333;
    --amarillo: #FFD700;
    --blanco: #fff;
    --rojo: #FF5E5E;
} /* Paleta de colores */

body {
    margin-top: 56px;
}

body, .container, .navbar, .container-fluid, .modal {

    font-family: 'Montserrat', sans-serif; 

} /* Tipografia */

/* Navbar */

.navbar {
    width: 100%;
    background-color:  var(--rosaOscuro) !important;
}

.btn-primary {
    background-color:var(--rosaOscuro) !important;
    color: var(--blanco);
    border: var(--rosaOscuro);
}

.btn-secondary {
    background-color: var(--rosaOscuro);
    color: var(--blanco);
    border: none;
    font-weight: bold;
    width: 100%;
}

.btn-secondary:hover {
    background-color: var(--rosaOscuro);
    color: var(--amarillo);
    font-weight: bold;
}

.agg {
    background-color: var(--rosaOscuro) !important;
    color: var(--amarillo) !important;
    border: none;
}

.buy {
    background-color: var(--rosaOscuro) !important;
    color: var(--blanco) !important;
    border: none;
}


#logo {
    width: 50px; 
    margin-right: 10px;
}

.nav-link {
    color: var(--blanco);
    font-weight: bold;
}

.nav-link:hover {
    color: var(--amarillo);
}

.navbar-toggler {
    border: none;
}

.fa-bars {
    color: var(--blanco);
    font-size: 25px;
    padding: 5px;
}

.navbar-brand{
    color: var(--blanco) !important;
    font-weight: bold;
}

.navbar-brand:hover {
    color: var(--amarillo) !important;
    font-weight: bold;
}

.cart-nav {
    margin-right: 5px;
    margin-left: 10px;
}  /* Navbar */

#hero {
    margin-top: 50px;
    background: linear-gradient(to right, var(--rosaClaro), var(--rojo), var(--amarillo));
    color: #FFFFFF;
    text-align: center;
    padding: 150px;
}

p{
    margin-bottom: 10px;
}

.justificar {
    text-align: justify;
}


/* card */
.card img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding-top: 10px;
}

.card-title {
    font-size: 16px;
}

.modal-header {
    background-color: #d63384;
    color: white;
}

.price {
    color: var(--rosaOscuro);
    font-size: 40px;
}

/* Detalles */
#detalles-producto {
    padding: 0px 50px;
    margin-top: 115px;
}


.fa-chevron-left {
    margin-right: 5px;
}

footer {
    background-color: var(--gris);
    color: var(--blanco);
    padding: 10px;
    text-align: center;
}


/* devices landscape phones, 576px and up */
@media (max-width: 576px) {

    #hero {
        padding: 50px;
    }

    .card img {
        width: 200px;
        height: 200px;
    }

    #detalles-producto {
        padding: 20px;
    }

    .price {
        color: var(--rosaOscuro);
        font-size: 30px;
    }

    .input-group .eliminar {
        position: absolute;
        right: 2px;
        z-index: 2;
    }
   
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .navbar-collapse {
        margin-top: 12px;

}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .price {
        color: var(--rosaOscuro);
        font-size: 30px;
    }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    
}
